<template>
<div class="main">

    <div class="box">

    <div class="box-wrap">
        <div class="date-title">
            Friday, February 17, 2017
        </div>

        <h2 class="entry-title">
            <a href="">QUICK WALKTHROUGH</a>
        </h2>


        <div class="post-gallery">
            <div class="photo">
                <img alt="" src="../assets/template.jpg">
            </div>

            <div class="light-box">
                <div class="overlay"></div>
            </div>
        </div>

        <div class="post-content">
            <div class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor quam, pretium eu placerat eu, semper et nunc.
                Nullam ut turpis dictum, luctus mi quis, luctus lorem. Nullam porttitor consectetur nunc in tempor. Cras vitae venenatis 
                sem, at pretium arcu. Nulla hendrerit dui quis metus laoreet, eget blandit arcu cursus. Mauris in libero rutrum, consectetur
                velit vel, blandit neque. Ut sodales, eros id ornare blandit, nulla erat consequat arcu, ac pretium urna nunc nec sapien.
            </div>
        </div>

        <div class="date-title">
            Posted In:
            <a href="" rel="tag">Smart Phones</a>
        </div>
    </div>
    
    <div class="sidebar">
        <h2>Popular Posts</h2>
        <div class="item-content">
            <div class="item-thumbnail">
                <a href="">
                    <img alt="" src="../assets/template.jpg" width="72" height="72">
                </a>
            </div>
            <div class="title">
                <div class="item-title">
                    <a href="">QUICK WALKTHROUGH</a>
                </div>
                <div class="item-snippet">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor quam, pretium eu placerat eu, semper et nunc. Nullam ut tur...
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</template>

<script>

export default {
    data() {
        return {
           
        }
    },
}

</script>

<style lang="scss" scoped>
.main {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    width: 100%;

    .box {
        display: flex;
        width: 100%;

        .box-wrap {
            background: white;
            width: 100%;
            padding: 50px;

            .date-title {
                background: #f3f3f3;
                color: #aaa;
                font-size: 11px;
                line-height: 20px;
                display: inline-block;
                padding: 0 5px;
                font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;

                a{
                    text-decoration: none;
                    color: #555;

                    &:hover {
                        color: #f74f4f;
                    }
                }
            }

            .entry-title {
                font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
                font-weight: 300;
                font-size: 52px;
                letter-spacing: -1px;
                line-height: 62px;
                padding: 0 0 35px 0;

                a {
                    color: #555;
                    text-decoration: none;
                    -webkit-transition: .07s ease-in;
                    -moz-transition: .07s ease-in;
                    -o-transition: .07s ease-in;
                    transition: .07s ease-in;

                    &:hover {
                        color: #f74f4f;
                    }
                }
            }

            .post-gallery {
                display: flex;
                flex-direction: column;

                .photo {
                    display: flex;
                }

                .light-box {}

                .overlay {}
            }

            .post-content {

                .content-text {
                    font: 16px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
                    line-height: 26px;
                    overflow-wrap: break-word;
                    padding: 15px 0;
                    text-align: justify;
                    vertical-align: baseline;
                    color: #444;
                    margin-bottom: 15px;
                }
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            line-height: 24px;
            padding: 25px 75px;

            a {
                color: #999;
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }

            h2 {
                color: white;
                font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: auto;
                margin-bottom: 10px;
            }

            .item-content {
                display: flex;
                padding: 10px 0;

                .item-thumbnail {
                    margin: 0 5px 5px 0;
                }

                .item-snippet {
                    color: #777;
                }
            }
        }
    }
}
</style>
