<template>
<div class="blog-title">
    <div class="blog-blok">
        <div class="blogger-spice">
            <div class="pthumb">
                <a href="">
                    <img alt="" src="../assets/template.jpg">
                </a>
                <a href="">THE MOBILE FIRST APPROACH</a>
            </div>
        </div>
    </div>
    <div class="comments">
        <div class="blog-comments">
            <div class="user-comments">
                <h11>Comments</h11>
                <div class="user-text">
                    {{text}}
                </div>
            </div>
            <div class="commentsHolder">
                <form action="">
                    <textarea  cols="50" rows="5" v-model="text" placeholder="Enter your comment..."></textarea>
                    <div class="ButtonHolder">
                        <input class="postCommentSubmit" type="button" value="Publish">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data() {
        return {
           text: '',
        }
    },
}

</script>

<style lang="scss" scoped>
.blog-title {
    display: flex;
    flex-direction: column;

    .blog-blok {

        .blogger-spice {
            display: flex;
            margin: 0 50px;
            margin-bottom: 15px;

            .pthumb {
                display: flex;
                flex-direction: column;
                margin: 0 15px;

                img {
                    padding: 0 0;
                    width: 238px;
                    border: 8px solid #4B4A4A;
                    transition: all 400ms ease-in-out;
                    -webkit-transition: all 400ms ease-in-out;
                    -moz-transition: all 400ms ease-in-out;
                    -o-transition: all 400ms ease-in-out;
                    -ms-transition: all 400ms ease-in-out;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                a {
                    text-decoration: none;
                    color: #f74f4f;

                    &:hover {
                        color: #555;
                    }
                }
            }  
        }
    }

    .comments {
        margin: 15px 50px;
        
        .blog-comments {

            .user-comments {
                background: white;
                border-bottom: solid 1px #eee;

                .user-text {
                    border-top: solid 1px #eee;
                }
            }

            .commentsHolder {
                background: white;
                padding: 25px 50px;

                form {
                    display: flex;
                    flex-direction: column;
                }

                textarea {
                    resize: none;
                }

                .ButtonHolder {
                    input {
                        height: 27px;
                        text-align: center;
                        text-shadow: 0 1px rgba(0,0,0,.1);
                        width: 75px;
                    }

                    .postCommentSubmit {
                        background-color: #4d90f0;
                        border: 1px solid #3079ed;
                        color: #fff;
                        font-weight: bold;
                        margin: 0 8px 6px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
</style>
