<template>
  <div class="status-msg">
      <div class="msg-wrap">
        <span>Showing posts with label</span>
      </div>
      <div class="posts">
          <div class="post-item">
            <div class="body-post pic">
                <img src="../assets/template.jpg" alt="">

                <figcaption> 
                    <h2>This is just going to be another test post</h2>
                    <a href=""></a>
                </figcaption>
            
            </div>
          </div>
      </div>
  </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>
.status-msg {

    .msg-wrap {
        text-align: center;
        padding: 17px;
        text-transform: capitalize;
        border: 1px solid #ddd;
        background: white;
    }

    .posts {
        display: flex;
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: center;

        .post-item {
            padding: 10px 10px;
        }

    .body-post {

            img {
                height: 350px;
                width: 350px;
                object-fit: cover;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;

                &:hover {
                    width: 300px;
                    height: 300px;
                    opacity: 0.8;
                }
            }
        }

        .pic {
            height: 300px;
            width: 300px;
            overflow: hidden;
            border: 10px solid #f74f4f;
            -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "\f064";
            }
        }
    }
}
</style>
