<template>
<footer class="footer">
    <div class="footer-inside">
        <div class="copyright">
            © 2018 Black White is designed by 
            <a href="" id="templateify">Souls</a>
        </div>
        <div class="right">
            <a href="">Contact Me</a> — 
            <a href="">About</a> — 
            <a href="">Copyright</a> — 
            <a href="">Privacy</a> — 
            <a href="">Disclaimer</a>
        </div>
    </div>
</footer>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>
.footer {
    margin: 0 0 30px 50px;
    color: #666;
    font-size: 12px;

    .footer-inside {
        //float: left;

        a {

            &:hover {
                color: white;
            }
        }
    }

    a {
        color: #999;
        text-decoration: none;
        -webkit-transition: .07s ease-in;
        -moz-transition: .07s ease-in;
        -o-transition: .07s ease-in;
        transition: .07s ease-in;
    }
}
</style>
