<template>
    <div class="head-container">
        <div class="navigation-container">
            <div class="header-inner">
                <h11>Black White</h11>
            </div>
            <div class="navigation">
                <div class="tab">
                    <span>Home</span>
                </div>
                <div class="tab">
                    <span>Social Media</span>
                </div>
                <div class="tab">
                    <span>Blog</span>
                </div>
                <div class="tab">
                    <span>Dropdown</span>
                </div>
                <div class="tab item">
                    <span>Contact</span>
                </div>
            </div>
        </div>
        <div class="search">
            <div class="input-inner">
                <input type="text" placeholder="Search">
            </div>
            <button>Go</button>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.head-container {
    padding: 20px 50px;
    background: #2c2f31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navigation-container {
        display: flex;
        flex-direction: row;
    }

    .header-inner {
        font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -1px;
        padding: 0;
        margin: 0 10px 0 0;
        color: white;
        cursor: pointer;

        &:hover {
            color: #f74f4f;
        }
    }

    .navigation{
        padding-left: 20px;
        padding-right: 10px;
        display: flex;
        align-items: flex-end;

        .tab {
            cursor: pointer;
            transition: 0.3s;
            align-items: center;
            color: #777;
            font-size: 14px;
            font-weight: 500;
            span {
                padding: 0 14px;
            }

            &:hover {
                color: white
            }

            &::after {
                content: "/";
                color: #444;
                font-weight: 100;
            }

            &.item::after {
                content: " ";
            }
        }
    }

    .search {
        display: flex;
        border-radius: 4px;
        border-style: none;
        vertical-align: middle;
        flex-direction: row;
        justify-content: right;
        padding-right: 150px;
        
    .input-inner {
        
    }

        input {
            padding: 0 10px;
            margin: 0;
            border: none;
            border-radius: 2px;
            border-style: none;
            width: 142px;
            height: 30px;
            &::placeholder {
                font-weight: 500;
                font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
            }
        }

        button {
            background: #f74f4f;
            color: white;
            font-size: 11px;
            border: none;
            padding: 0 10px;
            margin: 0;
            height: 30px;
            cursor: pointer;

            &:hover {
                background: #666;
            }
        }
    }
}
</style>