<template>
<div id="app">
  <!--
  <Header/>
  <ContainerBox/>
  <Footer/>
  -->
  <Box/>
  <Comments/>
</div>
</template>

<script>
import qwe from './components/qwe.vue';

import Box from './components/Box.vue';
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Comments from './components/Comments.vue';
import ContainerBox from './components/ContainerBox.vue';

export default {
  components: {
      Header, ContainerBox,
      Footer, Comments,
      Box, qwe
  }
}
</script>

<style lang="scss" scoped>
</style>
